app:
  jwtSecret: 'my_secret_key'  # замените my_secret_key на реальный секретный ключ
  jwtExpirationInMs: 3600000  # срок жизни токена в миллисекундах (в данном примере 1 час) 3 600 000
spring:
  datasource:
    url: jdbc:postgresql://localhost:5445/task_management
    username: postgres
    password: postgres
logging:
  level:
    org:
      springframework:
        security: DEBUG
    com:
      example:
        security:
          JwtAuthenticationFilter: DEBUG